xml/wsdl/Banka.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ws="http://www.example.com/webservice"

    xmlns:b="http://www.ftn.uns.ac.rs/xws/cbs/banka"
    xmlns:t="http://www.ftn.uns.ac.rs/xws/cbs/tipovi"
    xmlns:ziz="http://www.ftn.uns.ac.rs/xws/cbs/zahtev_za_izvod"
    xmlns:iz="http://www.ftn.uns.ac.rs/xws/cbs/izvod"
    xmlns:mt102="http://www.ftn.uns.ac.rs/xws/cbs/mt102"
    xmlns:mt103="http://www.ftn.uns.ac.rs/xws/cbs/mt103"
    xmlns:mt900="http://www.ftn.uns.ac.rs/xws/cbs/mt900"
    xmlns:mt910="http://www.ftn.uns.ac.rs/xws/cbs/mt910"
    xmlns:pl="http://www.ftn.uns.ac.rs/xws/cbs/nalog_za_placanje">
    <!-- ^dodatni namespace-ovi -->
    <!-- importi -->
    <wsdl:types>
        <xs:schema>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/tipovi" schemaLocation="../xsd/tipovi.xsd"/>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/zahtev_za_izvod" schemaLocation="../xsd/zahtev_za_izvod.xsd"/>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/izvod" schemaLocation="../xsd/izvod.xsd"/>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/mt102" schemaLocation="../xsd/mt102.xsd"/>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/mt103" schemaLocation="../xsd/mt103.xsd"/>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/mt900" schemaLocation="../xsd/mt900.xsd"/>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/mt910" schemaLocation="../xsd/mt910.xsd"/>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/nalog_za_placanje" schemaLocation="../xsd/nalog_za_placanje.xsd"/>
        </xs:schema>
    </wsdl:types>
    
    <!-- parametri metoda -->
    <wsdl:message name="primiMT102Request">
        <wsdl:part name="mt102" type="mt102:MT102"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiMT102Response">
        <wsdl:part name="response" type="xs:int"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="primiMT103Request">
        <wsdl:part name="mt103" type="mt103:MT103"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiMT103Response">
        <wsdl:part name="response" type="xs:int"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="primiMT900Request">
        <wsdl:part name="mt900" type="mt900:MT900"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiMT900Response">
        <wsdl:part name="response" type="xs:int"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="primiMT910Request">
        <wsdl:part name="mt910" type="mt910:MT910"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiMT910Response">
        <wsdl:part name="response" type="xs:int"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="posaljiIzvodRequest">
        <wsdl:part name="zahtev" type="ziz:ZahtevZaIzvod"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="posaljiIzvodResponse">
        <wsdl:part name="izvod" type="iz:Izvod"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="primiNalogRequest">
        <wsdl:part name="nalog" type="pl:NalogZaPlacanje"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiNalogResponse">
        <wsdl:part name="response" type="xs:int"></wsdl:part>
    </wsdl:message>
    
    <!-- port -->
    <wsdl:portType name="BankaPort">
        <wsdl:operation name="primiMT102">
            <wsdl:input message="b:primiMT102Request"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="primiMT103">
            <wsdl:input message="b:primiMT103Request"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="primiMT900">
            <wsdl:input message="b:primiMT900Request"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="primiMT910">
            <wsdl:input message="b:primiMT910Request"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="primiNalog">
            <wsdl:input message="b:primiNalogRequest"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="posaljiIzvod">
            <wsdl:input message="b:posaljiIzvodRequest"></wsdl:input>
            <wsdl:output message="b:posaljiIzvodResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- binding -->
    <wsdl:binding name="BankaBinding" type="b:BankaPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="primiMT102">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="primiMT103">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="primiMT900">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="primiMT910">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="primiNalog">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="posaljiIzvod">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <!-- service -->
    <wsdl:service name="BankaService">
        <wsdl:port name="BankaPort" binding="b:BankaBinding">
            <soap:address location="http://localhost:8080/banka"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>