xml/wsdl/CentralnaBanka.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.ftn.uns.ac.rs/xws/cbs/centralna_banka"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ws="http://www.example.com/webservice"
    
    xmlns:cb="http://www.ftn.uns.ac.rs/xws/cbs/centralna_banka"
    xmlns:t="http://www.ftn.uns.ac.rs/xws/cbs/tipovi"
    xmlns:mt102="http://www.ftn.uns.ac.rs/xws/cbs/mt102"
    xmlns:mt103="http://www.ftn.uns.ac.rs/xws/cbs/mt103"
    xmlns:mt900="http://www.ftn.uns.ac.rs/xws/cbs/mt900"
    xmlns:mt910="http://www.ftn.uns.ac.rs/xws/cbs/mt910">
    <!-- ^dodatni namespace-ovi -->
    <!-- importi -->
    <wsdl:types>
        <xs:schema>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/tipovi" schemaLocation="../xsd/tipovi.xsd"/>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/mt102" schemaLocation="../xsd/mt102.xsd"/>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/mt103" schemaLocation="../xsd/mt103.xsd"/>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/mt900" schemaLocation="../xsd/mt900.xsd"/>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/mt910" schemaLocation="../xsd/mt910.xsd"/>
        </xs:schema>
    </wsdl:types>
    
    <!-- parametri metoda -->
    <wsdl:message name="primiMT102Request">
        <wsdl:part name="mt102" type="mt102:MT102"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiMT102Response">
        <wsdl:part name="response" type="xs:int"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="primiMT103Request">
        <wsdl:part name="mt103" type="mt103:MT103"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiMT103Response">
        <wsdl:part name="response" type="xs:int"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="primiMT900Request">
        <wsdl:part name="mt900" type="mt900:MT900"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiMT900Response">
        <wsdl:part name="response" type="xs:int"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="primiMT910Request">
        <wsdl:part name="mt910" type="mt910:MT910"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiMT910Response">
        <wsdl:part name="response" type="xs:int"></wsdl:part>
    </wsdl:message>
    
    <!-- port -->
    <wsdl:portType name="CentralnaBankaPort">
        <wsdl:operation name="primiMT102">
            <wsdl:input message="cb:primiMT102Request"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="primiMT103">
            <wsdl:input message="cb:primiMT103Request"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="primiMT900">
            <wsdl:input message="cb:primiMT900Request"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="primiMT910">
            <wsdl:input message="cb:primiMT910Request"></wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- binding -->
    <wsdl:binding name="CentralnaBankaBinding" type="cb:CentralnaBankaPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="primiMT102">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="primiMT103">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="primiMT900">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="primiMT910">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <!-- service -->
    <wsdl:service name="CentralnaBankaService">
        <wsdl:port name="CentralnaBankaPort" binding="cb:CentralnaBankaBinding">
            <soap:address location="http://localhost:8080/centralna_banka"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>