xml/Banka.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.ftn.uns.ac.rs/xws/cbs/banka"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ws="http://www.example.com/webservice"

    xmlns:b="http://www.ftn.uns.ac.rs/xws/cbs/banka"
    xmlns:t="http://www.ftn.uns.ac.rs/xws/cbs/tipovi"
    xmlns:ziz="http://www.ftn.uns.ac.rs/xws/cbs/zahtev_za_izvod"
    xmlns:iz="http://www.ftn.uns.ac.rs/xws/cbs/izvod"
    xmlns:mt102="http://www.ftn.uns.ac.rs/xws/cbs/mt102"
    xmlns:mt103="http://www.ftn.uns.ac.rs/xws/cbs/mt103"
    xmlns:mt900="http://www.ftn.uns.ac.rs/xws/cbs/mt900"
    xmlns:mt910="http://www.ftn.uns.ac.rs/xws/cbs/mt910"
    xmlns:pl="http://www.ftn.uns.ac.rs/xws/cbs/nalog_za_placanje">
    <!-- ^dodatni namespace-ovi -->
    <!-- importi -->
    <wsdl:types>
        <xs:schema xmlns="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/tipovi" schemaLocation="tipovi.xsd"/>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/zahtev_za_izvod" schemaLocation="zahtev_za_izvod.xsd"/>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/izvod" schemaLocation="izvod.xsd"/>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/mt102" schemaLocation="mt102.xsd"/>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/mt103" schemaLocation="mt103.xsd"/>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/mt900" schemaLocation="mt900.xsd"/>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/mt910" schemaLocation="mt910.xsd"/>
            <xs:import namespace="http://www.ftn.uns.ac.rs/xws/cbs/nalog_za_placanje" schemaLocation="nalog_za_placanje.xsd"/>
        </xs:schema>
    </wsdl:types>
    
    <!-- parametri metoda -->
    <wsdl:message name="primiMT102Request">
        <wsdl:part name="mt102" element="mt102:mt102"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiMT102Response">
        <wsdl:part name="response" type="xs:int"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="primiMT103Request">
        <wsdl:part name="mt103" element="mt103:mt103"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiMT103Response">
        <wsdl:part name="response" type="xs:int"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="primiMT900Request">
        <wsdl:part name="mt900" element="mt900:mt900"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiMT900Response">
        <wsdl:part name="response" type="xs:int"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="primiMT910Request">
        <wsdl:part name="mt910" element="mt910:mt910"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiMT910Response">
        <wsdl:part name="response" type="xs:int"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="posaljiIzvodRequest">
        <wsdl:part name="zahtev" element="ziz:zahtev_za_izvod"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="posaljiIzvodResponse">
        <wsdl:part name="izvod" element="iz:izvod"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="primiNalogRequest">
        <wsdl:part name="nalog" element="pl:nalog_za_placanje"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiNalogResponse">
        <wsdl:part name="response" type="xs:int"></wsdl:part>
    </wsdl:message>
    
    <!-- port -->
    <wsdl:portType name="Banka">
        <wsdl:operation name="primiMT102">
            <wsdl:input message="b:primiMT102Request"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="primiMT103">
            <wsdl:input message="b:primiMT103Request"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="primiMT900">
            <wsdl:input message="b:primiMT900Request"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="primiMT910">
            <wsdl:input message="b:primiMT910Request"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="primiNalog">
            <wsdl:input message="b:primiNalogRequest"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="posaljiIzvod">
            <wsdl:input message="b:posaljiIzvodRequest"></wsdl:input>
            <wsdl:output message="b:posaljiIzvodResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- binding -->
    <wsdl:binding name="BankaBinding" type="b:Banka">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="primiMT102">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="primiMT103">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="primiMT900">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="primiMT910">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="primiNalog">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="posaljiIzvod">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <!-- service -->
    <wsdl:service name="BankaService">
        <wsdl:port name="Banka" binding="b:BankaBinding">
            <soap:address location="http://localhost:8080/Banka"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>