xml/CentralnaBanka.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CentralnaBankaService"
    targetNamespace="http://www.ftn.uns.ac.rs/xws/cbs/centralna_banka"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ws="http://www.example.com/webservice"
    xmlns:inf="http://www.ftn.uns.ac.rs/xws/cbs/centralna_banka"
    xmlns:inf_type="http://www.ftn.uns.ac.rs/xws/cbs/centralna_banka/types"
    
    xmlns:cb="http://www.ftn.uns.ac.rs/xws/cbs/centralna_banka"
    xmlns:t="http://www.ftn.uns.ac.rs/xws/cbs/tipovi"
    xmlns:mt102="http://www.ftn.uns.ac.rs/xws/cbs/mt102"
    xmlns:mt103="http://www.ftn.uns.ac.rs/xws/cbs/mt103"
    xmlns:mt900="http://www.ftn.uns.ac.rs/xws/cbs/mt900"
    xmlns:mt910="http://www.ftn.uns.ac.rs/xws/cbs/mt910"
    >
    <!-- ^dodatni namespace-ovi -->
    <!-- importi -->
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.ftn.uns.ac.rs/xws/cbs/tipovi" schemaLocation="tipovi.xsd"/>
            <import namespace="http://www.ftn.uns.ac.rs/xws/cbs/mt102" schemaLocation="mt102.xsd"/>
            <import namespace="http://www.ftn.uns.ac.rs/xws/cbs/mt103" schemaLocation="mt103.xsd"/>
            <import namespace="http://www.ftn.uns.ac.rs/xws/cbs/mt900" schemaLocation="mt900.xsd"/>
            <import namespace="http://www.ftn.uns.ac.rs/xws/cbs/mt910" schemaLocation="mt910.xsd"/>        
        </schema>
    </wsdl:types>
    
    <!-- parametri metoda -->
    <wsdl:message name="primiMT102Request">
        <wsdl:part name="mt102" element="mt102:mt102"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiMT102Response">
        <wsdl:part name="response" type="xs:int"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="primiMT103Request">
        <wsdl:part name="mt103" element="mt103:mt103"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiMT103Response">
        <wsdl:part name="response" type="xs:int"></wsdl:part>
    </wsdl:message>
    
    <!-- port -->
    <wsdl:portType name="CentralnaBanka">
        <wsdl:operation name="primiMT102">
            <wsdl:input message="cb:primiMT102Request"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="primiMT103">
            <wsdl:input message="cb:primiMT103Request"></wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- binding -->
    <wsdl:binding name="CentralnaBankaBinding" type="cb:CentralnaBanka">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="primiMT102">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="primiMT103">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <!-- service -->
    <wsdl:service name="CentralnaBankaService">
        <wsdl:port name="CentralnaBanka" binding="cb:CentralnaBankaBinding">
            <soap:address location="http://localhost:8080/CentralnaBanka"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>